numpy>=1.19.0
git+https://github.com/jamesbowman/openexrpython.git#egg=openexr-1.3.2
exr-info @ git+https://git@github.com/Synthesis-AI-Dev/exr-info.git#egg=exr_info-0.1
omegaconf>=2.0.0
imageio>=2.9.0
